.logo
{
    width: 50px; 
    height: 50px;
}

nav
{
    background-color: #0077A8;
    height: 70px;
    padding-left: 20px;
}

#navbarNav ul li a
{
    color: white;
    font-size: 36px;
    font-weight: 200;
    padding: 20px;
}

#banner-text h2
{
    font-size: 64px;
    font-weight: 300;
}

#banner-text h1
{
    font-size: 64px;
    font-weight: 700;
}

#banner-text a button
{
    
}

#download-button
{
    font-size: 42px;
    font-weight: 300;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0077A8;
    margin-top: 20px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#software-image
{
    width: 684px;
    height: 314px;
}

#latest-version
{
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
}

.card
{
    text-align: center;
    background-color: #0077A8;
    color: white;
    padding: 25px;
}

.card-icon 
{
    width: 100px;
    height: 100px;
}

.card-title
{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #F5962B;
}

.card-text
{
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    margin-top: auto;
}